/* <system section="theme" selected="6653812171397613909"> */
@import "http://hatenablog.com/theme/6653812171397613909.css";
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */


large {
    font-size: 150%;
    font-weight: bold;
}

strong {
    background: linear-gradient(transparent 100%, #FF847C 100%);
    background: -moz-linear-gradient(transparent 100%, #FF847C 100%);
    background: -webkit-linear-gradient(transparent 100%, #FF847C 100%);
    background: -ms-linear-gradient(transparent 100%, #FF847C 100%);
    background: -o-linear-gradient(transparent 100%, #FF847C 100%);
    font-weight: bold;
}

.entry-content {
    font-size: 15px;
}

.entry-content h3:before {
    content: "\f029";
    font-family: "blogicon";
    position: relative;
    padding-right: 10px;
    color: #1D3557;
}

.entry-content h3 {
    font-size: 130%;
    background: none;
    color: #1D3557;
}

.entry-content h4 {
    font-size: 120%;
    border-left: none;
    padding: 0 0;
    color: #000000;
}


/*目次のデザイン*/

.table-of-contents {
    background: none;
}

.table-of-contents:before {
    color: #1D3557;
}


/*share-botton*/

.share-buttons {
    margin-bottom: 10px;
    text-align: center;
}

.share-buttons .inner a {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 35px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    text-vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
    padding: 2px;
}

.share-buttons .inner .share-text {
    font-size: 8px;
}

.share-count-box {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.share-buttons .inner .hatena-bookmark-button {
    background: #008fde;
}

.share-buttons .inner .facebook-button {
    background: #305097;
}

.share-buttons .inner .twitter-button {
    background: #55acee;
}

.share-buttons .inner .googleplus-button {
    background: #db4a39;
}

.share-buttons .inner .pocket-button {
    background: #ee4256;
}

[class*=blogicon-].lg {
    line-height: inherit;
    vertical-align: middle;
}

.fa {
    vertical-align: middle;
}

/* 囲み枠 */

.design-box {
    border: 4px solid #E63946;
    border-radius: 10px;
    margin: 10px 0;
    padding: 1rem 1rem 0.5rem 1rem;
    position: relative;
}

.design-title {
    color: #E63946;
    position: absolute;
    background-color: #fff;
    top: -1rem;
    left: 20px;
    padding: 0 5px;
    font-weight: bold;
}

.design-title::before {
    font-family: "blogicon";
    content: "\f029"
}

.design-box ul {
    margin: 0;
}


/* 記事一覧の並列表示 */

.archive-entries {
    text-align: center;
}

.archive-entries .entry-thumb-link {
  display: block;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px;
  order: 1;
}

.page-archive .entry-thumb {
display: none;
}

.page-archive .archive-entry-header .date {
    font-size: 80%;
    position: absolute;
    top: -30px;
}

.page-archive .archive-entry-header .entry-title {
    font-size: calc(1rem + 0.25vw);
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    height: calc(4.5 * (1rem + 0.25vw));
    overflow: hidden;
}

.page-archive .archive-entry {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 8px solid #1D3557;
    width: 45%;
}

.page-archive .archive-entry-body {
    margin-bottom: 10px;
    order: 2;
}

.page-archive .archive-entries .entry-description {
    margin: 0;
    line-height: 1.5em;
    font-size: 80%;
}

.page-archive .archive-entry-header {
    margin-bottom: 10px;
    order: 0;
}

.page-archive .archive-entry .categories {
    order: 3;
    margin: 0;
}

.archive-entry-body .social-buttons {
    display: none;
}


@media (max-width: 600px) {
    .page-archive .archive-entry {
        display: flex;
        width: 100%;
    }

    .page-archive .archive-entry-header .entry-title {
        height: auto;
    }
}

/* これは記事並列表示のオプション。ホバー時に選択記事の色を変える */
@media (min-width: 600px) {
    .page-archive .archive-entry:hover {
        background-color: #f0f0f0;
        cursor: pointer;
        -webkit-transition: 500ms;
        transition: 500ms;
    }
    .page-archive .archive-entry:before {
        content: ' ';
        height: 8px;
        width: 0;
        background-color: #E63946;
        position: absolute;
        top: -8px;
        left: 0;
        -webkit-transition: 500ms;
        transition: 500ms;
    }
    .page-archive .archive-entry:hover:before {
        width: 100%;
    }

    /* フォーカス時にカテゴリの文字色を変える */
    .page-archive .categories a:hover{
       color: #E63946;
    }
}

/* これはテーマに合わせて設定 */

.page-archive #main {
    padding: 0 0;
}

.archive-heading {
    text-align: center;
}

/*
code-prettifyのカスタマイズ
*/
ol.linenums {
list-style: outside;
}

/*
    記事一覧のアーカイブ化用
*/

.more-archive-link {
    text-align: center;
    background: none;
}

.more-archive-link a {
    font-size: 80%;
}

.pager-prev a {
    margin-left: 0
}

.pager-next a {
    margin-right: 0;
}

@media (max-width: 767px) {
    .page-archive .pager-prev a {
        float: left;
        left: 0;
    }
    .page-archive .pager-prev a:after {
        left: 0;
    }
    .page-archive .pager-next a {
        float: right;
        right: 0;
    }
    .page-archive .pager-next a:after {
        right: 0;
    }
    .page-archive #box2 {
        clear: both;
    }
}
